@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?vz0qna');
    src: url('../fonts/icomoon.eot?vz0qna#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?vz0qna') format('truetype'), url('../fonts/icomoon.woff?vz0qna') format('woff'), url('../fonts/icomoon.svg?vz0qna#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entityuso';
    src: url('../fonts/entityuso.eot?vz0qna');
    src: url('../fonts/entityuso.eot?vz0qna#iefix') format('embedded-opentype'), url('../fonts/entityuso.ttf?vz0qna') format('truetype'), url('../fonts/entityuso.woff?vz0qna') format('woff'), url('../fonts/entityuso.svg?vz0qna#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'editor';
    src: url('../fonts/editor.eot?vz0qna');
    src: url('../fonts/editor.eot?vz0qna#iefix') format('embedded-opentype'), url('../fonts/editor.ttf?vz0qna') format('truetype'), url('../fonts/editor.woff?vz0qna') format('woff'), url('../fonts/editor.svg?vz0qna#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*selection tools*/
.gr-select-click:before {
	content: "\e903";
}

.gr-select-line:before {
	content: "\e900";
}

.gr-select-area:before {	
	content: "\e904";
}

.gr-select-all:before {	
	content: "\e906";
}