/*CSS GRAMA*/
@font-face {
    font-family: 'editionTools';
    src: url('../fonts/editionTools.eot?vz0qna');
    src: url('../fonts/editionTools.eot?vz0qna#iefix') format('embedded-opentype'), url('../fonts/editionTools.ttf?vz0qna') format('truetype'), url('../fonts/editionTools.woff?vz0qna') format('woff'), url('../fonts/editionTools.svg?vz0qna#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="gr-"], [class*="gr-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'editionTools' !important;
	padding: 8px;
	font-size: 24px;
	background: 0 0;
	border: none;
	cursor: pointer;
	width: 40px !important;
	opacity: .75;
	float: right;
	-webkit-transition: opacity .25s ease 0s;
	transition: opacity .25s ease 0s;
	color: #404040 !important;
	margin: 0;
	speak: none;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	opacity: 0.5 !important;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline-style: none;
}

/*selection tools*/
.gr-select-click:before {
    content: "\e903"; 
}


.gr-select-click:hover img {
	color: #000000 !important;
	opacity: 1 !important;
}

.gr-select-line:before {
	content: "\e900";
}

.gr-select-area:before {	
	content: "\e904";
}

.gr-select-all:before {	
	content: "\e906";
}

.gr-img-click:before {	
	content:url("/dist/icons/click.png");
}

.gr-img-click:hover img {
	color: #000000 !important;
	opacity: 1 !important;
}